/* body{
    font-size: 20px;
    background-color: rgb(172, 55, 55);
} */

html{
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body{
    font-size: 1.6rem;
}
.clear{
    clear: both;
}
a{
    text-decoration: none;
}
.title{
    
    font-size: 3.2rem;
    font-weight: bold;
    text-align: center;
    color: aliceblue;
    padding-top: 30px;
    float: left;
    width:160px;
    height: 1090px;
    max-width: 350px;
    background-color: rgb(110, 176, 255);
}

.container{
    float: left;
    padding-left: 30px;
}
h4{
    font-size: 2.4rem;
}

h5{
    font-size: 2.0rem;
}
ul{
    display: block;
    list-style-type: none;
    text-align: left;
}
ul>li{
    float: left;
    margin-right: 15px;
}
ul>li>span{
    font-weight: bold;
    padding-right: 20px;
}